body {
  background-color: #1f2937;
  color: white;
}

.boxes, .box {
  display: inline;
}

.grandparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  background-color: royalblue;
  border: 5px solid #343434;
  padding: 2.4rem;
}

.parent {
  width: 100%;
  height: 75%;
  border: 5px solid black;
  background-color: goldenrod;
  margin: 2.5%;
  display: flex;
}

.child {
  border: 5px solid black;
  background-color: palevioletred;
  width: 100%;
  margin: 5%;
}

.highlight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ef5097;
  font-weight: bold;
  font-size: 5vw;
  background: linear-gradient(to top, #ffe138 50%, transparent 50%);
}

.fire {
  color: firebrick;
}